div.day-one {
  background: -webkit-linear-gradient(#a7bfe8, #6190e8);
  border-radius: 30px;
  transition: 300ms all ease-in-out;
}

div.day-one:hover {
  background: -webkit-linear-gradient(#c2e59c, #64b3f4);
}


.day-forecast-top {
  margin: 2rem 0 0 0;
}

.day-forecast-bot {
  margin: 0 0 2rem 0;
}
