div.forecast-container {
  padding: 0 1rem;
}

.day-one-mobile {
  background: -webkit-linear-gradient(#a7bfe8, #6190e8);
  border-radius: 20px;
  padding: 1rem 0;
  border: 4px solid #0a0824;
}

.day-one-mobile:hover {
  background: -webkit-linear-gradient(#c2e59c, #64b3f4);
}

