.Temperature {
    border: 3px solid orange;
}

.col-bor {
   border: 3px solid orange; 
}

button.btn-desk {
    margin: 0 0 0 1rem;
}


.temperature-number {
    font-size: 90px;
}

.icon {
    font-size: 100px;
}

