button.btn-unit-celcius-mobile {
  background-color: #0041ce7a;
  border: 1px solid #2d00f51a;
  font-size: 30px;
  font-weight: 600;  
}

button.btn-unit-mobile {
  background-color: #ffffff54;
  border: 1px solid #ffffff36;
  font-size: 30px;
  font-weight: 600;
  
}

div.description-mobile {
  margin: 0 0 1rem 0;
  padding: 1rem;
  background-color: #5a64e25b;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.temperature-number-mobile {
    font-size: 110px;
}

.description-transparent {
  opacity: 0.6;
}

.date-margin-mobile {
  border: 0.5px solid #ffffffa1;
  border-radius: 30px;
  padding: 0.4rem;
}

.margin-buttons-left-mobile {
  margin: 1rem 0 1rem 0;
  padding: 0 0 0 3rem;
}

.margin-buttons-right-mobile {
  margin: 1rem 0 1rem 0;
  padding: 0 3rem 0 0;
}


.weather-mobile {
  font-size: 35px;
  font-weight: 600;
  opacity: 0.8;
}

.icon-mobile {
    padding: 0.8rem 0 0 0;
}

.container-gradient {
    background-image: linear-gradient(#00baee, #0072ff);
  box-shadow: rgba(255, 255, 255, 0.596) 0px 1px 1px 0px inset,
    rgba(60, 78, 180, 0.61) 0px 50px 100px -20px,
    rgba(48, 47, 124, 0.568) 0px 30px 60px -30px;
  margin: 1rem 0 2rem 0;
    border-radius: 50px;
}




