button.btn-desk {
  margin: 0 0 0 1rem;
}

h5.date-desktop {
  text-align: left;
  margin: 0.5rem;
}

div.main-container-gradient {
  background-image: linear-gradient(#00baee, #0072ff);
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.596) 0px 1px 1px 0px inset,
    rgba(60, 78, 180, 0.61) 0px 50px 100px -20px,
    rgba(48, 47, 124, 0.568) 0px 30px 60px -30px;
  margin: 0 0 2rem 0;

}

button.btn-unit {
  background-color: #ffffff54;
  border: 1px solid #ffffff36;
  font-size: 23px;
  margin-left: 1.6rem;
  font-weight: 600;
  
}

button.btn {
  box-shadow: rgba(17, 12, 46, 0.137) 0px 17px 20px 0px;
}

button.btn-unit-celcius {
  background-color: #0041ce7a;
  border: 1px solid #2d00f51a;
  font-size: 23px;
  margin-left: 1.6rem;
  font-weight: 600;
}

h3.humidity {
  padding: 0 0 0 3rem;
}

h2.city {
  margin-top: 1rem;
}

h3.wind {
  padding: 0 1rem 0 0rem;
}


.border-date {
  border-radius: 30px;
  border: 0.5px solid #ffffff9f ;
  margin-left: 1rem;
}
.weather-name {
  font-weight: 600;
  margin: 1rem 0 1rem 0rem;
  opacity: 80%;
}

.description-size {
  font-size: 25px;
  margin: 0 0 1rem 0;
}


.col-bor {
  border: 3px solid orange;
}

.margin-sides {
  padding: 0 14rem;
}

.temperature-number {
  font-size: 120px;
  padding: 1.1rem 0 0 0;
  background: -webkit-linear-gradient(#eee 40%, rgba(85, 173, 255, 0.877));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  padding: 0.8rem 0 0 0;
}

.city {
  text-align: left;
  margin: 0 0 0.5rem 0.8rem;
}

.search-button {
  text-align: left;
  padding: 0 0 0 1rem;
}
